@page
@using System.Globalization
@model ProyectoAlmacen.Pages.Profesor.SolicitudesModel
@{
    ViewData["Title"] = "Listado de Solicitudes";
}

<h1>Listado de Solicitudes</h1>
@if (Model.SolicitudesConMateriales != null && Model.SolicitudesConMateriales.Count > 0)
{
    @foreach (var solicitudConMateriales in Model.SolicitudesConMateriales)
    {
        <div class="card mb-3">
            <div class="card-header">
                Solicitud de @solicitudConMateriales.Solicitud.NombreUsuario
            </div>
            <div class="card-body">
                <p><strong>Salón:</strong> @solicitudConMateriales.Solicitud.NombreLaboratorio</p>
                <p><strong>Fecha peticion:</strong> @solicitudConMateriales.Solicitud.FechaCreacion.ToString()</p>
                <p><strong>Fecha en la que se usara:</strong> @solicitudConMateriales.Solicitud.FechaSolicitud</p>
                <p><strong>Hora en la que se usara:</strong> @solicitudConMateriales.Solicitud.HoraSolicitud</p>

                <p><strong>Materiales Solicitados:</strong></p>
                <ul>
                    @foreach (var material in solicitudConMateriales.Materiales)
                    {
                        <li>@material.NombreMaterial - @material.DescripcionMaterial - Cantidad: @material.Cantidad</li>
                    }
                </ul>

                <div class="text-center">
                    <form method="post">
                        <button class="btn btn-success" asp-page-handler="Aceptar"
                            asp-route-solicitudId="@solicitudConMateriales.Solicitud.SolicitudId">Aceptar</button>
                        <button class="btn btn-danger" asp-page-handler="Rechazar"
                            asp-route-solicitudId="@solicitudConMateriales.Solicitud.SolicitudId">Rechazar</button>
                    </form>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>No hay solicitudes pendientes</p>
}