@page
@model ProyectoAlmacen.Pages.Almacenista.OpcionesMaterialesModel
@{
    ViewData["Title"] = "OpcionesMateriales";
}

<h1 class="my-4">Opciones de Materiales</h1>

<a class="btn btn-primary mb-3" asp-page="/Almacenista/AgregarMaterial">Agregar Nuevo Material</a>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Número de inventario</th>
            <th scope="col">Año</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model.Materiales)
        {
            <tr>
                @if (material.DatosMaterialesNavigation != null)
                {
                    <td>@material.DatosMaterialesNavigation?.Nombre</td>
                    <td>@material.NumeroInventario</td>
                    <td>@material.AnioMaterial</td>
                    <td>@material.Estado</td>
                    <td>@material.DatosMaterialesNavigation?.Descripcion</td>
                    <td>
                        <form method="post" asp-page="/Almacenista/OpcionesMateriales" asp-page-handler="EditarMaterial">
                            <input type="hidden" name="materialId" value="@material.NumeroInventario" />
                            <button type="submit" class="btn btn-info btn-sm">Editar</button>
                        </form>
                        <form method="post" asp-page="/Almacenista/OpcionesMateriales" asp-page-handler="EliminarMaterial"
                        onsubmit="return confirm('¿Estás seguro de que quieres eliminar este material?');">
                            <input type="hidden" name="materialId" value="@material.NumeroInventario" />
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                }
                else
                {
                    <h1>Error</h1>
                }

            </tr>
        }
    </tbody>
</table>